Sorting/.vs/Sorting/v15/.suo
Sorting/.vs/Sorting/v15/Browse.VC.db
Sorting/.vs/Sorting/v15/ipch/AutoPCH/SORTING-9bd709a1/MERGE_SORT-6025a709/MERGE_SORT.ipch
Sorting/.vs/Sorting/v15/ipch/AutoPCH/SORTING-9bd709a1/MERGE_SORT-6025a70e/MERGE_SORT.ipch
Sorting/.vs/Sorting/v15/ipch/AutoPCH/SORTING-9bd709a1/QUICK_SORT-cf88fb6/QUICK_SORT.ipch
Sorting/.vs/Sorting/v15/ipch/AutoPCH/SORTING-9bd709a1/QUICK_SORT-cf88fbb/QUICK_SORT.ipch
Sorting/Debug/Sorting.exe
Sorting/Debug/Sorting.ilk
Sorting/Debug/Sorting.pdb
Sorting/Sorting.sln
Sorting/Sorting/Debug/Merge_Sort.obj
Sorting/Sorting/Debug/Quick_Sort.obj
Sorting/Sorting/Debug/Sorting.log
Sorting/Sorting/Debug/Sorting.tlog/CL.command.1.tlog
Sorting/Sorting/Debug/Sorting.tlog/CL.read.1.tlog
Sorting/Sorting/Debug/Sorting.tlog/CL.write.1.tlog
Sorting/Sorting/Debug/Sorting.tlog/Sorting.lastbuildstate
Sorting/Sorting/Debug/Sorting.tlog/link.command.1.tlog
Sorting/Sorting/Debug/Sorting.tlog/link.read.1.tlog
Sorting/Sorting/Debug/Sorting.tlog/link.write.1.tlog
Sorting/Sorting/Debug/vc141.idb
Sorting/Sorting/Debug/vc141.pdb
Sorting/Sorting/Sorting.vcxproj
Sorting/Sorting/Sorting.vcxproj.filters
